{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!--<h1>{{ user.username }}</h1>-->
<!--<h1>{{ user.email }}</h1>-->
<!--<img src="{{ user.profile.image.url }}">-->

<section class="intro-single">

<div class="col-lg-12 bg-light">
   <div class="img-circle">
  <img class="card-img-top rounded-circle" src="{{ user.profile.image.url }}" style="width:200px;"></div>
  <div class="card-body">
    <h5 class="card-title">Username : {{ user.username }}</h5>
    <p class="card-text">Email : {{ user.email }}</p>
  </div>
</div>
</section>
{% endblock %}
